<div class="loader-container">
  <div class="loader"></div>
  <img src="https://cdn.discordapp.com/attachments/838065678178189362/838082964985348177/discord-avatar-128-1ACPO.gif" class="loader-img">
</div>